<div class="container-fluid mt-3">
 <div class="py-4">
  <div class="d-flex justify-content-between w-100 flex-wrap">
     <div class="mb-3 mb-lg-0">
        <h1 class="h4">Users List</h1>
        
     </div>
     <div>
        <a  class="btn btn-outline-danger d-inline-flex align-items-center me-3" routerLink="/navbar/adduser">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-add me-2" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
          </svg>
           Add User
        </a>
        <a  class="btn btn-outline-info d-inline-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table me-2" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
          </svg>
          Attendance
        </a>
     </div>
  </div>
</div>
<div class="card border-0 shadow mb-4">
    <div class="card-body">
       <div class="table-responsive">

        <table datatable [dtOptions]="dtOptions"  class="row-border hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Phone</th>
                    <th>DOB</th>
                    <th>City</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.dob}}</td>
                    <td>{{user.city}}</td>
            </tbody>
          </table>
         
       </div>
    </div>
 </div>

</div>



  