<div class="container-fluid mt-3">
    <div class="py-4">
      <div class="d-flex justify-content-between w-100 flex-wrap">
         <div class="mb-3 mb-lg-0">
            <h1 class="h4">Class List</h1>
            
         </div>
         <div>
            <a  class="btn btn-outline-danger d-inline-flex align-items-center me-3" routerLink="/navbar/addclass">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
               Add Class
            </a>
         </div>
      </div>
    </div>
   <div class="card border-0 shadow mb-4">
       <div class="card-body">
          <div class="table-responsive">
   
           <table datatable [dtOptions]="dtOptions"  class="row-border hover">
               <thead>
                   <tr>
                       <th>No</th>
                       <th>Name</th>
                       <th>Class Teacher</th>
                       <th>Students</th>
                       <th>Attendance</th>
                       
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let class of classes; let i = index">
                       <td>{{i + 1}}</td>
                       <td>{{class.name}}</td>
                       <td>{{class.classTeacher}}</td>
                       <td><a class="link-success" routerLink="/navbar/studentlist" (click)=classstudents(i)>View</a></td>
                       <td><a class="link-info" routerLink="/navbar/studentattendance" (click)=classstudents(i)>Attendance</a></td>
                     </tr>
               </tbody>
             </table>
            
          </div>
       </div>
    </div>
   
   </div>
   
   
   
     